{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'core_front_end/load_css.html' %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/toastr.min.css' %}" media="screen,projection"/>
    <!--JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
</head>

<body>

<!-- Navbar -->
{% include 'core_front_end/navbar.html' %}
<style>
    img {
        max-width: 100%;
        height: auto;
    }

    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<div class="row">
    <div class="col s12 m6 offset-m3">
        {% if messages %}
            {% include 'core_front_end/toast_messages.html' %}
        {% endif %}

        <div id="fun_fact">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" style="text-align: center"> অ্যাঁ লুকিয়ে লুকিয়ে  করা?? </span>
                    <p style="text-align: center; font-size: 18px">{{ hack_txt }}</p>
                </div>
            </div>
        </div>
        <img class="materialboxed center" src="{% static hack_img %}" style="margin-top: 50px; max-width: 100%">

    </div>
</div>
<script>
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>
</html>