<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/css/emoji.css" rel="stylesheet">
</head>
<body>
<h1>Comments</h1>
<ul>
{% for comment in comments %}

    <li>
                    <input readonly data-emojiable="true" value="{{ comment.text }}"/>
        <p>{{ comment.author }}</p>
    </li>
{% empty %}
    <li>No comments yet.</li>
{% endfor %}
</ul>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- ** Don't forget to Add jQuery here ** -->
<script src="/static/lib/js/config.js"></script>
<script src="/static/lib/js/util.js"></script>
<script src="/static/lib/js/jquery.emojiarea.js"></script>
<script src="/static/lib/js/emoji-picker.js"></script>
<script>
    $(function () {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: '/static/lib/img/',
            popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
    });
</script>
</body>
</html>



