{% load static %}

<div class="navbar-fixed">
    <nav class="blue-grey">
        <div class="nav-wrapper">
            <a href="{% url 'core:home' %}" class="left brand-logo">
                <img class="navbar-fixed" src="{% static 'image/logo.png' %}"/>
            </a>
            <ul class="right show-on-medium-and-down">
                {% if music is not None and music != 'none' %}
                    <li id="player" onclick="change_player()">Play</li>
                    <script>
                        function change_player() {
                            player = $("#player");
                            if (sound.playing()) {
                                sound.pause();
                                player.text("Play")
                            }
                            else {
                                sound.play();
                                player.text("Stop")
                            }

                        }

                        $(document).ready(function () {
                            $("#player").onclick = change_player
                        });
                    </script>
                {% endif %}
                <li><a href="{% url 'puzzle:leader_board' %}">Leader Board</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'core:logout_user' %}">Log Out</a></li>
                {% else %}
                    {% if view == 'login' %}
                        <li><a href="{% url 'core:register' %}">Register</a></li>
                    {% else %}
                        <li><a href="{% url 'core:login_user' %}">Log In</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
</div>